html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    line-height: 1.5em;
}

body {
    width: 90%;
    margin: 5%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #444;
}

    @media screen and (min-width: 53em) {
        body {
            width: 45em;
            margin: 4em auto 8em;
        }
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.5em;
    color: #89b737;
    font-family: "Roboto Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

h1 {
    padding-top: 2em;
}

a {
    color: #0094d3;
}

.title {
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 700;
    padding-top: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#TOC {
    padding: 1em;
    background: rgba(0,0,0,.025);
    border-radius: .2em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-section-number {
    color: #999;
    margin-right: .5em;
}

.alert {
    color: #fff;
    background: #ff5f40;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1em;
    border-radius: .2em;
}
