html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

body {
  font-family: "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #444;
  border-top: 8px solid #f7f7f7;
}

table {
  width: 100%;
  border-collapse: collapse;
}

    th,
    td {
      padding: .5em .75em;
      border: 1px solid #ccc;
      vertical-align: top;
    }

    th {
      background: #fff;
      border-bottom: 2px solid #999;
      text-align: left;
    }

h1,
h2 {
  font-family: "franklin-gothic-urw-cond", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4em;
  line-height: 1.5em;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
  margin-top: 2em;
}

a {
  color: #0094ce;
}

  a:hover,
  a:focus {
    color: #FF9900;
  }

  a:active {
    position: relative;
    top: 1px;
  }

.container {
  width: 90%;
  margin: 3em auto;
}

   .logo {
     font-size: 1em;
     line-height: 1.5em;
     background: url("/assets/img/logo.png") center top no-repeat;
     width: 240px;
     height: 148px;
     margin: 0 auto 3em auto;
     background-color: transparent;
     border: 0;
     overflow: hidden;
     *text-indent: -9999px;
   }

     .logo:before {
       content: "";
       display: block;
       width: 0;
       height: 150%;
     }

  .nav {
    border-top: 1px solid #ccc;
    padding-top: 1em;
  }

    .nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

      .nav li {
        margin: 0;
        padding: 0;
        display: inline;
        margin-right: 1em;
      }

        .nav a {
          text-decoration: none;
        }

          .nav a:hover,
          .nav a:focus {
            color: #000;
          }

   .copyright {
     margin-top: 4em;
     padding-top: 2em;
     margin-bottom: 8em;
     font-size: .9em;
     line-height: 1.3em;
     color: #999;
     text-align: center;
     border-top: 1px solid #ccc;
   }

  .button {
    display: block;
    margin: .5em 0;
    padding: .5em .75em;
    background: #dedede;
    color: #444;
    border-radius: 4px;
    text-decoration: none;
    font-size: .9rem;
    line-height: 1.3em;
    font-family: "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }

    .button:hover,
    .button:focus {
      background: #0094ce;
      color: #fff;
    }

.alert-box {
  padding: 1em 2em;
  background: #0094ce;
  color: #fff;
  border-radius: 4px;
  text-shadow: rgba(0,0,0,.25) 0 1px 1px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

@media screen and (min-width: 620px) {
  .container {
    width: 580px;
  }

    .button {
      display: inline-block;
      margin: 0;
    }

      .button.right {
        float: right;
        margin-top: .25em;
      }
}

@media screen and (min-width: 800px) {
  h2:after {
    content: attr(data-title);
    font-weight: 500;
    font-size: .8em;
    color: #999;
    margin-left: .5em;
    line-height: 1em;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
       -moz-transition: opacity .1s linear;
            transition: opacity .1s linear;
  }

    h2:hover:after {
      opacity: 1;
      -webkit-transition: opacity .1s linear;
         -moz-transition: opacity .1s linear;
              transition: opacity .1s linear;
    }

  .container {
    width: 800px;
  }

    .sidebar,
    .content {
      border-top: 1px solid #ccc;
      padding-top: 1em;
    }

    .sidebar {
      width: 180px;
      margin-right: 20px;
      float: left;
      display: inline;
    }

      .nav {
        border-top: 0;
        padding-top: .5em;
      }

        .nav li {
          display: block;
          float: none;
          margin: 0;
        }

          .nav a {
            display: block;
            padding: .5em 1em;
            position: relative;
          }

            .nav a:hover,
            .nav a:focus {
              background: #d2ebff;
              border-radius: 4px;
            }

            .nav a:hover:after,
            .nav a:focus:after {
              content: "";
              position: absolute;
              top: 50%;
              right: 1em;
              width: 0;
              height: 0;
              border-top: .5em solid rgba(0,0,0,.25);
              border-left: .5em solid transparent;
              border-right: .5em solid transparent;
              margin-top: -.175em;
            }

    .content {
      width: 600px;
      display: inline;
      float: left;
      border-top-width: 2px;
    }
}
